.banner_bg_main {
    width: 100%;
    float: left;
    background-image: url(../images/banner-bg.jpg);
    height: auto;
    background-size: 100%;
    background-repeat: no-repeat;
}

.btn {
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

