.logo_section {
    width: 100%;
    float: left;
}

.logo {
    width: 100%;
    float: left;
    text-align: center;
}

.logo p {
    color: white;
    text-transform: uppercase;
    font-size: 35px;
}
