.fashion_section {
    width: 100%;
    float: left;
    padding-bottom: 100px;
}

.fashion_taital {
    width: 100%;
    font-size: 40px;
    color: rgb(207, 227, 146);
    text-align: center;
    font-weight: bold;
    padding: 10px 0 0 0;
    -webkit-text-stroke: 2.5px #000;
}

.fashion_section_2 {
    width: 100%;
    margin-top: 30px;
}

.box_main {
    width: 100%;
    background-color: #ffffff;
    height: auto;
    padding: 20px;
    box-shadow: 0px 0 30px 10px #f0f0f0;
    margin-bottom: 20px;
}

.shirt_text {
    width: 100%;
    font-size: 20px;
    color: #30302e;
    text-align: center;
    font-weight: bold;
    padding-bottom: 5px;
}

.tshirt_img {
    width: 100%;
    text-align: center;
    margin: 5px 0px;
    overflow: hidden;
    position: relative;
}

.tshirt_img::after {
    display: block;
    content: '';
    padding-top: 56.25%;
}

.tshirt_img img {
    display: block;
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.btn_main {
    width: 100%;
    display: flex;
}

.seemore_bt {
    width: 100%;
    float: right;
    text-align: right;
}

.seemore_bt a {
    width: 100%;
    font-size: 16px;
    color: #262626;
    background-color: transparent;
    text-align: right;
}

.seemore_bt a:hover {
    background-color: transparent;
    color: #f26522;
}

#main_slider a.carousel-control-next {
    right: 615px;
    top: 105%;
}

#main_slider a.carousel-control-prev {
    left: 615px;
    top: 105%;
}

#main_slider .carousel-control-next,
#main_slider .carousel-control-prev {
    width: 55px;
    height: 55px;
    background-color: #30302e;
    opacity: 1;
    font-size: 30px;
    color: #ffffff;
}

#main_slider .carousel-control-next:focus,
#main_slider .carousel-control-next:hover,
#main_slider .carousel-control-prev:focus,
#main_slider .carousel-control-prev:hover {
    color: #fff;
    background-color: #f26522;
}